html,body{
    height: 100%;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table tr td{
    /* display: inline-block; */
    /* margin: 5px 5px ;  */
    width: 200px;
    border:1px solid #999999;
    
}
thead th{
    background-color: blue;
    color: white;
    font-weight: bold;
}